<mat-toolbar class="toolbar">
    <div class="image-container">
        <a href="#">
            <img class="logo-csr" src="../../../../assets/img/ColombiaSobreRuedas.png" alt="Imagen del logo de ColombiaSobreRuedas">
        </a>
    </div>
   <div class="button-container">
        <a mat-button class="button" routerLink="home">
            Inicio
        </a>
        <a mat-button class="button" routerLink="contact">
            Contacto
        </a>
        <a mat-button class="button" routerLink="catalogue">
            Catalogo
        </a>
   </div>  
 </mat-toolbar>

 <main>
    <app-layout></app-layout>
 </main>