.section1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.compound-text1{
    padding-left: 24px;
}

.carImage1{
    height: 333px;
    width: 500px;
}

.section2{
    padding: 24px;
}

.esteem-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.compound-text3{
    width: 40%;
    text-align: center;
}