<main>
    <section class="section1">
        <article class="compound-text1">
            <h1>Bienvenido a Colombia Sobre Ruedas</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nesciunt impedit nisi repellat suscipit tenetur doloremque rem, 
                voluptatum odio ipsam nostrum.
            </p>   
        </article>
        <img class="carImage1" src="../../../assets/img/ToyotaPrado.jpg" alt="Fotografia de una Toyota Prado">
    </section>
    <section class="section2">
        <mat-card class="mat-elevation-z8">
            <mat-card-content>
                <article class="compound-text2">
                    <h1>
                        Contacta con nosotros
                    </h1>
                    <p>
                        Por medio de este formulario puedes realizar una cotizacion con nosotros ingresando
                        tus datos y nos pondremos en contacto contigo.
                    </p>
                </article>
                <form class="esteem-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Vehiculo</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cotizacion</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card> 
    </section>
    <section class="section3">
        <article class="compound-text3">
            <h1>Sobre nosotros</h1>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sequi dolor ipsam reprehenderit
            </h4>
        </article>
        <section>

        </section>
    </section>
    <section>
        <img src="" alt="">
        <article>
            <h1></h1>
            <p></p>   
        </article>
    </section>
    <section>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </section>
    <footer>
        <a href=""></a>
        <a href=""></a>
        <a href=""></a>
        <p></p>
    </footer>
</main>
