<main>
    <section class="section1">
        <article class="compound-text1">
            <h1>Bienvenido a Colombia Sobre Ruedas</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Nesciunt impedit nisi repellat suscipit tenetur doloremque rem, 
                voluptatum odio ipsam nostrum.
            </p>   
        </article>
        <img class="carImage1" src="../../../assets/img/ToyotaPrado.jpg" alt="Fotografia de una Toyota Prado">
    </section>
    <section class="section2">
        <mat-card class="mat-elevation-z8">
            <mat-card-content>
                <article class="compound-text2">
                    <h1>
                        Contacta con nosotros
                    </h1>
                    <p>
                        Por medio de este formulario puedes realizar una cotizacion con nosotros ingresando
                        tus datos y nos pondremos en contacto contigo.
                    </p>
                </article>
                <form class="esteem-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Vehiculo</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Cotizacion</mat-label>
                        <input matInput type="number">
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card> 
    </section>
    <section class="section3">
        <article class="compound-text3">
            <h1>Sobre nosotros</h1>
            <h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Sequi dolor ipsam reprehenderit
            </h4>
        </article>
        <section class="cards-container">
            <mat-card class="info-card">
                <mat-card-content>
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a magna in ante posuere pretium. 
                        Cras et elit vitae lorem tempor facilisis. 
                        Vestibulum rutrum massa at nisi tempor maximus. 
                        Phasellus vitae dolor lectus. 
                        Etiam quis condimentum justo, 
                        ac consectetur libero. Duis lacinia velit neque, 
                        in pulvinar lorem accumsan a. 
                        Cras euismod erat in velit dapibus interdum
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="info-card">
                <mat-card-content>
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a magna in ante posuere pretium. 
                        Cras et elit vitae lorem tempor facilisis. 
                        Vestibulum rutrum massa at nisi tempor maximus. 
                        Phasellus vitae dolor lectus. 
                        Etiam quis condimentum justo, 
                        ac consectetur libero. Duis lacinia velit neque, 
                        in pulvinar lorem accumsan a. 
                        Cras euismod erat in velit dapibus interdum
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="info-card">
                <mat-card-content>
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a magna in ante posuere pretium. 
                        Cras et elit vitae lorem tempor facilisis. 
                        Vestibulum rutrum massa at nisi tempor maximus. 
                        Phasellus vitae dolor lectus. 
                        Etiam quis condimentum justo, 
                        ac consectetur libero. Duis lacinia velit neque, 
                        in pulvinar lorem accumsan a. 
                        Cras euismod erat in velit dapibus interdum
                    </p>
                </mat-card-content>
            </mat-card>
        </section>
    </section>
    <section class="section4">
        <img src="assets/img/hero_image_grcorolla.png" alt="Automovil deportivo Toyota Corolla GR">
        <article class="compound-text4">
            <h1>Lorem Ipsum</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Voluptates totam maiores incidunt repudiandae obcaecati adipisci? 
                Ipsam culpa commodi ratione odit consequatur sint dolorem aspernatur rem ex. 
                Saepe quae animi quam.
            </p>   
        </article>
    </section>
    <section class="section5">
        <img class="logo" src="assets/img/toyota-logo.png" alt="">
        <img class="logo" src="assets/img/kia-loo.png" alt="">
        <img class="logo" src="assets/img/chevy-logo.png" alt="">
        <img class="logo" src="assets/img/logo-Renault.png" alt="">
    </section>
    <section class="section6">
        <article class="compound-text5">
            <h2>lorem ipsum</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Expedita, inventore ullam natus numquam a harum porro id possimus explicabo officia, 
                corrupti autem exercitationem rem perspiciatis temporibus consequatur. 
                Sequi, blanditiis delectus.
            </p>
            <p>+57 000 000 0000</p>
        </article>
    </section>
    <footer>
        <article class="links">
            <a href="#" class="social-media">
                <img src="assets/img/logo-whatsapp.png" alt="">
            </a>
            <a href="#" class="social-media">
                <img src="assets/img/logo-facebook.png" alt="">
            </a>
            <a href="#" class="social-media">
                <img src="assets/img/logo-insta.png" alt="">
            </a>
        </article>
        <p>Av sur # 50-03, Paseo de la Castellana Local 16 Piso 2. Pereira, Risaralda</p>
    </footer>
</main>
